body {
  margin: 0;
}

#main-section {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #f0f1f2;

  @media screen and (min-width: 1920px) {
    min-width: 500px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1344px) {
    min-width: 500px;
  }

  @media screen and (min-width: 720px) and (max-width: 1024px) {
    min-width: 500px;
  }

  @media screen and (max-width: 720px) {
    max-width: 100%;
    overflow-x: hidden;
  }
}

* {
  box-sizing: border-box;
}
