@import "../../global.scss";

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40rem;
  h1 {
    @include appearance();
    @include clearBorderMarginPadding();
    font-size: #{$large-font};
    font-weight: bolder;
    color: #{$main-color};
    margin-bottom: #{$medium-blank};
  }
  input {
    @include appearance();
    @include clearBorderMarginPadding();
    height: 3.5rem;
    width: 24rem;
    margin-bottom: #{$large-font};
    border-radius: 5px;
    font-size: #{$medium-font};
    font-weight: bolder;
    text-indent: 3.5rem;
    background: url(../../assets/zocial-email.svg) no-repeat 1rem center/ 1.5rem;
    background-color: #7f9eb250;
    &:focus {
      background: none;
      font-weight: 500;
      text-indent: 1rem;
    }
    &::placeholder {
      color: #{$main-color};
      font-weight: bolder;
    }
  }
  article#email-login {
    width: 24rem;
    display: flex;
    justify-content: space-between;
    span {
      display: inline-block;
      color: #{$main-color};
      font-size: #{$medium-font};
      line-height: 2.5rem;
    }
    button {
      @include appearance();
      @include clearBorderMarginPadding();
      width: 5rem;
      height: 2.5rem;
      border-radius: 5px;
      color: white;
      font-size: #{$medium-font};
      background-color: #{$main-color};
    }
  }
  article#division {
    width: 24rem;
    display: flex;
    align-items: center;
    hr {
      @include clearBorderMarginPadding();
      flex-grow: 1;
      height: 2px;
      background-color: #{$main-color};
    }
    span {
      @include appearance();
      @include clearBorderMarginPadding();
      color: #{$main-color};
      padding: #{$medium-blank};
      font-size: #{$small-font};
      font-weight: bold;
    }
  }
}

.OAuth-button {
  @include appearance();
  @include clearBorderMarginPadding();
  height: 3.5rem;
  width: 24rem;
  font-size: #{$medium-font};
  font-weight: bolder;
  margin-bottom: #{$small-blank};
}
