@import "../../../global.scss";

$img-width: ($medium-element/2.25);
$span-block: (($medium-element - $img-width)/2 * 2 + $img-width);
.oauth-button {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  font-weight: bolder;
  width: 100%;
  border: 1px solid grey;
  margin-bottom: $small-blank;
  background-color: white;
  &::before {
    transition: all 0.45s cubic-bezier(0.4, 0.35, 0.6, 1);
    content: "";
    width: 0%;
    height: 100%;
    background: #{$main-color};
    position: absolute;
    top: 0;
    left: $span-block;
  }
  img {
    float: left;
    margin: (($medium-element - $img-width)/2) 0;
    margin-left: (($medium-element - $img-width)/2);
    margin-right: (($medium-element - $img-width)/2 * 1.5);
    width: $img-width;
    height: $img-width;
  }
  span {
    margin-right: (($medium-element - (25px / $font-size-base))/2 * 1.5);
    transition: all 0.45s cubic-bezier(0.4, 0.35, 0.6, 1);
  }
  &:hover {
    span {
      color: white;
      mix-blend-mode: screen;
    }
    &::before {
      background: #{$main-color};
      width: calc(100% - #{$span-block});
    }
  }
}
